
<main class="main-content">
    <div class="container-fluid">
        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-6 col-md-6">
                <h1 class="">Let's set up your household</h1>
            </div>
            <div class="col-lg-6 col-md-6 center">
                <img src="~/assets/img/istockphoto-1171898735-612x612.jpg" class="img-fluid" width="80%">
            </div>
        </div>

        <br><br>

        <form id="payment-method-Form" action="#!">
            <div class="form-header d-flex mb-4">
                <span class="stepIndicator">Account Setup</span>
                <span class="stepIndicator">Social Profiles</span>
                <span class="stepIndicator">Personal Details</span>
            </div>

            <div class="step">
                <p class="text-center mb-4">Create your account</p>
                <div class="mb-3">
                    <input type="email" placeholder="Email Address" name="email">
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="Confirm Password" name="password">
                </div>
            </div>

            <div class="step">
                <p class="text-center mb-4">Your presence on the social network</p>
                <div class="mb-3">
                    <input type="text" placeholder="Linked In" name="linkedin">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Twitter" name="twitter">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Facebook" name="facebook">
                </div>
            </div>

            <div class="step">
                <p class="text-center mb-4">We will never sell it</p>
                <div class="mb-3">
                    <input type="text" placeholder="Full name" name="fullname">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Mobile" name="mobile">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Address" name="address">
                </div>
            </div>
        </form>

        <br><br>

     

        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-6 col-md-6">
                <button class="btn btn-primary btn-lg">
                    <a href="assisted-filing.html">Back</a>
                </button>
            </div>
            <div class="col-lg-6 col-md-6 right">
                <button class="btn btn-primary btn-lg">
                    <a href="assisted-filing.html">Personal information (4+ min) &gt;</a>
                </button>
            </div>
        </div>
    </div>
</main>

