
<main class="main-content">
    <div class="container-fluid">


        <h1 class="center">Let's set up your household</h1><br><br>

        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-3 col-md-3 p-3 ">
                <div class="box-layout center">
                    <h6>Single</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 p-3 ">
                <div class="box-layout center">
                    <h6>Married</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 p-3 ">
                <div class="box-layout center">
                    <h6>Divorced</h6>
                </div>
            </div>

        </div>

        <br><br>
        <div class="d-lg-flex justify-content-between">
            <div class="col-lg-6 col-md-6">
                <button class="btn btn-primary btn-lg">
                    <a href="assisted-filing.html">Back</a>
                </button>
            </div>
            <div class="col-lg-6 col-md-6 right">
                <button class="btn btn-primary btn-lg">
                    <a href="assisted-filing.html">Continue</a>
                </button>
            </div>
        </div>

    </div>
</main>


