@using System.Security.Claims
@using System.Globalization
<main class="main">
    @{
        var userName = User.FindFirst(ClaimTypes.Name)?.Value;
        var formattedName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(userName.ToLower());
    }

    <!-- Page Title -->
    <div class="page-title accent-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <div class="col-lg-4 col-md-6">
                <h2 class="mb-2 mb-lg-0 font-weight-bold">File my taxes</h2></br>
                <h1 class="mb-2 mb-lg-0">Welcome <span>@formattedName</span></h1>
            </div>
            <div class="col-lg-2 col-md-4">
                <nav class="breadcrumbs">
                    <ol>
                       @*  <li><a >Register</a></li>
                        <li class="current">File my taxes</li> *@
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->
    <!-- File my taxes Section -->
    <section class="blog-posts section tax-about-o" id="File-my-taxes">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-8 about-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                    <div id="" class="blog-posts  row">

                        <div class="col-lg-6 aos-init aos-animates aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md">

                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="https://taxfiling.lk/assets/img/Deluxe-1.png" class="img-fluid rounded-md-image" alt="">
                                    <span class="post-date d-none">December 12</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">
                                        Assisted Filing
                                    </h3>

                                    <div class="meta d-flex align-items-center d-none">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> <span class="ps-2">John Doe</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                                        </div>
                                    </div>

                                    <p>
                                        <b>Let our tax experts do the work for you</b>
                                        Perfect for individuals and businesses who want expert support and total peace of mind.
                                        Our tax professionals take care of everything for you — from reviewing your documents to preparing and filing your return accurately and on time.

                                    </p>
                                    <ul class="list-group price-list">
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Expert-reviewed and prepared returns</span></li>
                                        <li class="list-group-item price-list "><i class="bi bi-check"></i><span class="price-texts">Personalized tax advice for your situation</span></li>
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Ideal for freelancers, landlords, and small businesses</span></li>

                                        <li class="list-group-item price-list"><span class="price-texts"></span></li>
                                        <li class="list-group-item price-list"><span class="price-texts"></span></li>
                                        
                                    </ul>

                                    <hr>

                                    <a class="readmore stretched-link" href="/Home/TaxAssisted"><span>Continue</span><i class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- End File my taxes item -->

                        <div class="col-lg-6 aos-init aos-animates aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md">

                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="https://taxfiling.lk/assets/img/premier-1.png" class="img-fluid rounded-md-image" alt="">
                                    <span class="post-date d-none">March 19</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">Self Filing</h3>

                                    <div class="meta d-flex align-items-center d-none">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span class="ps-2">Economics</span>
                                        </div>
                                    </div>

                                    <p>
                                        <b>Confident with your taxes?</b><br>
                                        Use our simple, step-by-step online platform to enter your details yourself. Once submitted, our team will review, correct, and file your return on your behalf — ensuring accuracy, compliance, and peace of mind.
                                    </p>
                                    <ul class="list-group price-list">
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Guided online entry by you</span></li>
                                        <li class="list-group-item price-list "><i class="bi bi-check"></i><span class="price-texts">Reviewed and corrected by our tax experts</span></li>
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Ideal for salaried individuals and simple returns</span></li>
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Accurate, fast, and affordable</span></li>

                                    </ul>
                                    <hr>

                                    <a class="readmore stretched-link" href="/Home/SelfFiling"><span>Continue</span><i class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- File my taxes item -->

                    </div>
                </div>

                <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="mb-4" style="
    text-align: right;
">Let our tax experts do the work for you</h2>

                    <img src="https://taxfiling.lk/assets/img/tax-file.jpg" class="img-fluid image-round">
                </div>

            </div>

        </div>

    </section>
    <!-- /File my taxes -->

</main>