<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active">
                <img src="assets/img/tax-banner-new.png" alt="">
                <div class="container">
                    <h2>File Your Taxes Your Way</h2>
                    <p>Get expert support with Tax <b>Assisted Filing</b> or complete your taxes independently with <b>Self Filing</b>. Whichever you choose, we’re here to help.</p>
                    <button class="btn btn-primary btn-lg"><a asp-controller="Home" asp-action="TaxAssisted">Tax Assisted Filing</a></button> 
                    <button class="btn btn-primary btn-lg"><a asp-controller="Home" asp-action="SelfFiling">Self Filing</a></button>
                </div>
            </div><!-- End Carousel Item -->

            <div class="carousel-item">
                <img src="assets/img/Banner-images-one.png" alt="">
                <div class="container">
                    <h2>Your Trusted Partner in Tax Filing</h2>
                    <p>Whether you are an individual taxpayer, a business owner, or an expert, TaxFiling.lk is here to help you file your taxes quickly and accurately. Our secure online platform and expert team ensure you meet all compliance requirements while saving time and stress.</p>
                    <a asp-controller="Home" asp-action="About" class="btn-get-started">Read More</a>
                </div>
            </div><!-- End Carousel Item -->
            <!--  <div class="carousel-item">
                <img src="assets/img/tax-banner-3.png" alt="">
                <div class="container">
                    <h2>Temporibus autem quibusdam</h2>
                    <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                    <a asp-controller="Home" asp-action="About" class="btn-get-started">Read More</a>
                </div>
            </div> End Carousel Item -->

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section home-about">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-8 about-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                    <div id="" class="blog-posts  row">

                        <div class="col-lg-6 aos-init aos-animates aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md">

                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="assets/img/Deluxe-1.png" class="img-fluid rounded-md-image" alt="">
                                    <span class="post-date d-none">December 12</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">
                                        Assisted Filing
                                    </h3>

                                    <div class="meta d-flex align-items-center d-none">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> <span class="ps-2">John Doe</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                                        </div>
                                    </div>

                                    <p><b>Let our tax experts do the work for you</b>
                                       Perfect for individuals and businesses who want expert support and total peace of mind.
Our tax professionals take care of everything for you — from reviewing your documents to preparing and filing your return accurately and on time.

                                    </p>
                                    <ul class="list-group price-list">
                                    <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Expert-reviewed and prepared returns</span></li>
                                    <li class="list-group-item price-list "><i class="bi bi-check"></i><span class="price-texts">Personalized tax advice for your situation</span></li>
                                    <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Ideal for freelancers, landlords, and small businesses</span></li>

<li class="list-group-item price-list"><span class="price-texts"></span></li>
<li class="list-group-item price-list"><span class="price-texts"></span></li>
<li class="list-group-item price-list"><span class="price-texts"></span></li>
                                </ul>

                                    <hr>

                                    <a asp-controller="Home" asp-action="TaxAssisted" class="readmore stretched-link"><span>Continue</span><i class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- End File my taxes item -->

                        <div class="col-lg-6 aos-init aos-animates aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md">

                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="assets/img/premier-1.png" class="img-fluid rounded-md-image" alt="">
                                    <span class="post-date d-none">March 19</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">Self Filing</h3>

                                    <div class="meta d-flex align-items-center d-none">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span class="ps-2">Economics</span>
                                        </div>
                                    </div>

                                    <p>
                                       <b>Confident with your taxes?</b><br>
Use our simple, step-by-step online platform to enter your details yourself. Once submitted, our team will review, correct, and file your return on your behalf — ensuring accuracy, compliance, and peace of mind.
                                    </p>
     <ul class="list-group price-list">
                                    <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Guided online entry by you</span></li>
                                    <li class="list-group-item price-list "><i class="bi bi-check"></i><span class="price-texts">Reviewed and corrected by our tax experts</span></li>
                                    <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Ideal for salaried individuals and simple returns</span></li>
                                    <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Accurate, fast, and affordable</span></li>

                                </ul>
                                    <hr>

                                    <a asp-controller="Home" asp-action="SelfFiling" class="readmore stretched-link"><span>Continue</span><i class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- File my taxes item -->

                    </div>
                </div>

                <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="mb-4">Let our tax experts do the work for you</h2>
                   
                    <img src="assets/img/tax-file.jpg" class="img-fluid image-round" />
                </div>

            </div>

        </div>

    </section>
    <!-- /About Section -->
    <!-- customers are saying Section -->
    <section id="services" class="services section light-background customers-saying">

        <div class="container">


            <div class="row gy-4">
                <h2 class=" mb-lg-0 font-weight-bold text-center body-header mb-4 ">What our customers are saying.</h2>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item item-cyan position-relative rounded-md">
                        <div class="rating-stars">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <a href="service-details.html" class="stretched-link">
                            <h3>Happy and Satisfied!</h3>
                        </a>
                        <p>Been using H&R Block for a few years now and I've always been happy and satisfied with their services. The process is easy and it makes me feel at ease once I'm done filing. I'm looking forward to filing next year!</p>
                        <h5 class="comment-name">Paul L.</h2>
                    </div>
                </div><!-- End customers are saying Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item item-orange position-relative rounded-md">
                        <div class="rating-stars">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <a href="service-details.html" class="stretched-link">
                            <h3>Great Work!</h3>
                        </a>
                        <p>Been using H&R Block for a few years now and I've always been happy and satisfied with their services. The process is easy and it makes me feel at ease once I'm done filing. I'm looking forward to filing next year!</p>
                        <h5 class="comment-name">Paul A.</h2>
                    </div>
                </div><!-- End customers are saying Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item item-teal position-relative rounded-md">
                        <div class="rating-stars">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <a href="service-details.html" class="stretched-link">
                            <h3>Great Software!</h3>
                        </a>
                        <p>Been using H&R Block for a few years now and I've always been happy and satisfied with their services. The process is easy and it makes me feel at ease once I'm done filing. I'm looking forward to filing next year!</p>
                        <h5 class="comment-name">Paul A.</h2>
                    </div>
                </div><!-- End customers are saying Item -->







            </div>

        </div>

    </section><!-- /Services Section -->
     <!-- Portfolio Section -->
   @*  <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Portfolio</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-product">Card</li>
                    <li data-filter=".filter-branding">Web</li>
                </ul><!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Product 1</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Branding 1</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-3.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-4.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Product 2</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-5.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Branding 2</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-6.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-7.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Product 3</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-8.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Branding 3</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-9.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                </div><!-- End Portfolio Container -->

            </div>

        </div>

    </section><!-- /Portfolio Section --> *@
    <!-- Clients Section -->
    <section id="clients" class="clients section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Clients</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0 clients-wrap">

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

                <div class="col-xl-3 col-md-4 client-logo">
                    <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
                </div><!-- End Client Item -->

            </div>

        </div>

    </section><!-- /Clients Section --> 

</main>