<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active">
                <img src="assets/img/tax-banner-new.png" alt="">
                <div class="container">
                    <h2>File Your Taxes Your Way</h2>
                    <p>Get expert support with Tax <b>Assisted Filing</b> or complete your taxes independently with <b>Self Filing</b>. Whichever you choose, we’re here to help.</p>

                    <button class="btn btn-primary btn-lg"><a asp-controller="Home" asp-action="TaxAssisted">Tax Assisted Filing</a></button>
                    <button class="btn btn-primary btn-lg"><a asp-controller="Home" asp-action="SelfFiling">Self Filing</a></button>

                </div>
            </div><!-- End Carousel Item -->

            <div class="carousel-item">
                <img src="assets/img/Banner-images-one.png" alt="">
                <div class="container">
                    <h2>Your Trusted Partner in Tax Filing</h2>
                    <p>Whether you are an individual taxpayer, a business owner, or an expert, TaxFiling.lk is here to help you file your taxes quickly and accurately. Our secure online platform and expert team ensure you meet all compliance requirements while saving time and stress.</p>
                  @*   <a asp-controller="Home" asp-action="About" class="btn-get-started">Read More</a> *@
                    <a class="btn-get-started" href="/Home/About"><i class="bi bi-arrow-right-short"></i> Read More</a>
                </div>
            </div><!-- End Carousel Item -->
            <!--  <div class="carousel-item">
                <img src="assets/img/tax-banner-3.png" alt="">
                <div class="container">
                    <h2>Temporibus autem quibusdam</h2>
                    <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                    <a asp-controller="Home" asp-action="About" class="btn-get-started">Read More</a>
                </div>
            </div> End Carousel Item -->

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>

    </section><!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section home-about">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-8 about-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                    <div id="" class="blog-posts  row">

                        <div class="col-lg-6 aos-init aos-animates aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md">

                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="assets/img/Deluxe-1.png" class="img-fluid rounded-md-image" alt="">
                                    <span class="post-date d-none">December 12</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">
                                        Assisted Filing
                                    </h3>

                                    <div class="meta d-flex align-items-center d-none">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> <span class="ps-2">John Doe</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                                        </div>
                                    </div>

                                    <p>
                                        <b>Let our tax experts do the work for you</b>
                                        Perfect for individuals and businesses who want expert support and total peace of mind.
                                        Our tax professionals take care of everything for you — from reviewing your documents to preparing and filing your return accurately and on time.

                                    </p>
                                    <ul class="list-group price-list">
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Expert-reviewed and prepared returns</span></li>
                                        <li class="list-group-item price-list "><i class="bi bi-check"></i><span class="price-texts">Personalized tax advice for your situation</span></li>
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Ideal for freelancers, landlords, and small businesses</span></li>

                                        <li class="list-group-item price-list"><span class="price-texts"></span></li>
                                        <li class="list-group-item price-list"><span class="price-texts"></span></li>
                                        <li class="list-group-item price-list"><span class="price-texts"></span></li>
                                    </ul>

                                    <hr>

                                    <a asp-controller="Home" asp-action="TaxAssisted" class="readmore stretched-link"><span>Continue</span><i class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- End File my taxes item -->

                        <div class="col-lg-6 aos-init aos-animates aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <article class="position-relative h-100 rounded-md">

                                <div class="post-img position-relative overflow-hidden rounded-md-image">
                                    <img src="assets/img/premier-1.png" class="img-fluid rounded-md-image" alt="">
                                    <span class="post-date d-none">March 19</span>
                                </div>

                                <div class="post-content d-flex flex-column">

                                    <h3 class="post-title">Self Filing</h3>

                                    <div class="meta d-flex align-items-center d-none">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                                        </div>
                                        <span class="px-3 text-black-50">/</span>
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-folder2"></i> <span class="ps-2">Economics</span>
                                        </div>
                                    </div>

                                    <p>
                                        <b>Confident with your taxes?</b><br>
                                        Use our simple, step-by-step online platform to enter your details yourself. Once submitted, our team will review, correct, and file your return on your behalf — ensuring accuracy, compliance, and peace of mind.
                                    </p>
                                    <ul class="list-group price-list">
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Guided online entry by you</span></li>
                                        <li class="list-group-item price-list "><i class="bi bi-check"></i><span class="price-texts">Reviewed and corrected by our tax experts</span></li>
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Ideal for salaried individuals and simple returns</span></li>
                                        <li class="list-group-item price-list"><i class="bi bi-check"></i><span class="price-texts">Accurate, fast, and affordable</span></li>

                                    </ul>
                                    <hr>

                                    <a asp-controller="Home" asp-action="SelfFiling" class="readmore stretched-link"><span>Continue</span><i class="bi bi-arrow-right"></i></a>

                                </div>

                            </article>
                        </div><!-- File my taxes item -->

                    </div>
                </div>

                <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="mb-4">Let our tax experts do the work for you</h2>

                    <img src="assets/img/tax-file.jpg" class="img-fluid image-round" />
                </div>

            </div>

        </div>

    </section>
    <!-- /About Section -->
    <!-- customers are saying Section -->
    <section id="services" class="services section light-background customers-saying">

        <div class="container">


            <div class="row gy-4">
                <h2 class=" mb-lg-0 font-weight-bold text-center body-header mb-4 ">What our customers are saying.</h2>

                <div class="container py-5">
                    <div id="multiCardCarousel" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="~/assets/img/customers/one.png" class="card-img-top">
                                            <div class="card-body">
                                                <h3>Manjula Kulathunga</h3>
                                                <h4>Chief Human Resources Officer at Aqua Dynamics Private Limited</h4>
                                                <p>
                                                    I recommend Prashad for his outstanding tax consultancy services. Having worked closely with him for more than 3 years , I have consistently been impressed by his expertise, professionalism, and dedication to ensuring his clients' financial well-being
                                                    Prashad has a remarkable ability to navigate complex tax regulations and communicate them effectively to clients. His attention to detail, combined with a proactive approach to identifying opportunities for tax optimization, sets his apart in the field.
                                                    Beyond his technical skills, Prashad also possesses excellent interpersonal skills, making him a pleasure to work with. He always takes the time to understand each client's unique situation and provides tailored solutions that meet their specific needs.
                                                    In conclusion, I have full confidence in Prashad and wholeheartedly recommend him to anyone seeking expert tax consultancy services.
                                                </p>
                                            </div>
                                            <div class="rating-stars">
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                        </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="~/assets/img/customers/02.png" class="card-img-top">
                                            <div class="card-body">
                                                <h3>Damitha Serasinghe</h3>
                                                <h4>
                                                    Deputy Director - IT Singer Sri Lanka PLC
                                                </h4>
                                                <p>
                                                    I have had the pleasure of working closely with Sudharshana Prasad over the past 4 years and have consistently been impressed by his expertise, professionalism, and dedication to client service.
                                                    Sudharshana Prasad consistently stays updated with the latest developments in the field. This knowledge, coupled with his extensive experience, allows him to provide insightful advice and effective solutions.
                                                    I endorse Sudharshana Prasad as a good tax consultant. He consistently demonstrates excellence in his work.
                                                </p>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="~/assets/img/customers/03.png" class="card-img-top">
                                            <div class="card-body">
                                                <h3>Dimuthu Suranjana</h3>
                                                <h4>AGM at National Savings Bank</h4>
                                                <p>He is very hard working person and very good personality also. having good knowledge in finance specially in tax. I can recommend him for any company																																</p>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="~/assets/img/customers/04.png" class="card-img-top">
                                            <div class="card-body">
                                                <h3>Yasheela Amarawardena</h3>
                                                <h4>
                                                    Head of Human Resources
                                                    Overseas Realty (Ceylon) PLC
                                                </h4>
                                                <p>Prasad is a highly knowledgeable and enthusiastic professional who provides assistance with my personal tax matters. He is constantly supportive and provides directions with proactive approach. I am confident in saying that Prasad would be a good consultant for any personal tax related matters.																						</p>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="~/assets/img/customers/05.png" class="card-img-top">
                                            <div class="card-body">
                                                <h3>Koshitha Peramunugamage</h3>
                                                <h4>
                                                    Singer Sri Lanka PLC
                                                    Head of Business Development - B2B
                                                </h4>
                                                <p>
                                                    I am pleased to recommend Prashad as an outstanding tax consultant and financial advisor. Having worked closely with him for more than 3 years. Prashad’s deep understanding of tax laws and regulations is truly impressive. I had the opportunity to seek his assistance on some complex tax matters, and I was thoroughly impressed by his depth of knowledge and professionalism.											Head of Business Development - B2B

                                                    I wholeheartedly recommend Prashad for any role requiring expertise in tax consultancy and accountancy work. His combination of technical skills, client-focused service, and proactive approach make him an invaluable asset to any organization.
                                                </p>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <img src="~/assets/img/customers/one.png" class="card-img-top">
                                            <div class="card-body">
                                                <h3>Dougie Douglas</h3>
                                                <h4>
                                                    Airpark Vice President
                                                    Former General Manager Sri Lanka, Nepal, Maldives & Seychelles at Etihad Airways
                                                </h4>
                                                <p>
                                                    I've been a client of Prashad in Colombo for about 8 years. When I was Area Manager for Etihad Airways, he managed the tax affairs of the company including my liabilities as an expat employee. He handled both efficiently, pragmatically and with knowledge of the international obligations and treaties.

                                                    When I started my own company in 2020 I invited Prashad to handle my and my company's accounting and tax matters, which he has continued to do very effectively and efficiently. I have never had any issues or complications in my accounting or tax affairs.

                                                    He has also supported a former client of mine with some much needed accounting review and organisation and assisted a friend of mine with start up accounting and tax advice.

                                                    Prashad is more than just an accounting and tax adviser; he goes above and beyond, proactively sharing sound advice, timely reminders and excellent, comprehensive support.

                                                    From my own experience, I have no hesitation in recommending Prashad to any company or individual looking for someone to manage their accounts or tax affairs.
                                                </p>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>



                            <!-- Add more slides with overlap -->
                        </div>

                        <!-- Outside Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#multiCardCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#multiCardCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Portfolio Section -->
    @*  <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Portfolio</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-product">Card</li>
                    <li data-filter=".filter-branding">Web</li>
                </ul><!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Product 1</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Branding 1</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-3.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-4.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Product 2</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-5.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Branding 2</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-6.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-7.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Product 3</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-8.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                        <img src="assets/img/masonry-portfolio/masonry-portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Branding 3</h4>
                            <p>Lorem ipsum, dolor sit</p>
                            <a href="assets/img/masonry-portfolio/masonry-portfolio-9.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                </div><!-- End Portfolio Container -->

            </div>

        </div>

    </section><!-- /Portfolio Section --> *@
    <!-- Clients Section -->
    <section id="clients" class="clients section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>They Trust Us</h2>
            <p>
                We are proud to support a wide range of companies with expert <strong> tax planning and compliance solutions.</strong> From global brands to growing enterprises, our clients trust us to manage their<br>
                corporate tax needs while also providing <strong>personalized individual income tax consultations</strong> for their executives and employees.
            </p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0 clients-wrap">
                <section class="customer-logos slider">
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/singer.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/CF.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/SevenMedia.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/Etihad02Updated.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/NKR.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/aqua.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/NSB.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/jooy.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/ZIE.png"></div>
                    <div class="slide"><img src="https://taxfiling.lk/assets/img/clients/Lankwinair.png"></div>

                </section>

            </div>

        </div>

    </section><!-- /Clients Section -->

</main>

<script>

    $(document).ready(function(){
        $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });
</script>