@using System.Security.Claims
@using Microsoft.AspNetCore.Html
@model TaxFiling.Web.Models.SelfOnlineIncomeLiableTax

@{
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;
   var userId = User.Claims.FirstOrDefault(mbox => mbox.Type == "UserID")?.Value;


}
<link href="~/assets/css/tree-container-css.css?v=2" rel="stylesheet">

<main class="main-content">
    <section class="blog-posts section Self-Online">
        <div class=" mt-4">

            <!-- Employment income  -->
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5 class="toggle-header text-warning" data-bs-toggle="collapse" data-bs-target="#collapseEmploymentIncome" aria-expanded="true">
                    <span class="spn-employmentincome-name"><i class="fas fa-folder-open me-2"></i> Employment Income  </span> <span class="spn-employmentincome-total" id="spnEmploymentIncomeTotal">@Model.selfOnlineEmploymentIncome.Total</span>
                   @*  <label class="form-control">Total :  </label> *@  <i class="bi bi-caret-down-fill"></i>
                </h5>
                <div class="mt-2 collapse show" id="collapseEmploymentIncome" style="">
                    @Html.Partial("IncomeTaxPartial/_EmploymentIncome",Model.selfOnlineEmploymentIncome)
                </div>
            </div>

            <!-- Business income ===========================================  -->
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5 class="toggle-header text-danger collapsed" data-bs-toggle="collapse" data-bs-target="#collapseBusinessIncome " aria-expanded="false">
                    <span><i class="fas fa-folder-open me-2"></i> Business Income </span>
                    <i class="bi bi-caret-down-fill"></i>
                </h5>
                <div class="mt-2 collapse" id="collapseBusinessIncome" style="">
                    <div class="card card-body">
                        <div class="">
                            hi -------Business Income
                        </div>
                    </div>
                </div>
            </div>

            <!-- Investment income  ============================================= -->
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5 class="toggle-header text-danger" data-bs-toggle="collapse" data-bs-target="#collapseInvestmentIncome " aria-expanded="true">
                    <span><i class="fas fa-folder-open me-2"></i> Investment Income  </span>
                    <i class="bi bi-caret-down-fill"></i>
                </h5>
                <div class="mt-2 collapse" id="collapseInvestmentIncome" style="">

                    <!-- Part I -->
                    <div class="tree-container">

                        <!-- Root -->
                        <div class="tree-item tree-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#root" aria-expanded="false">

                            <i class="fas fa-folder-open me-2"></i>
                            <span class="tree-header"> Part I - Details of investment income</span>
                            <i class="bi bi-caret-down-fill"></i>

                        </div>
                        <div class="tree-node collapse" id="root" style="">

                            <div class="custom-tabs">
                                <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                                    <li class="nav-item col-md-2" role="presentation">
                                        <button class="nav-link savings active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Savings</button>
                                    </li>
                                    <li class="nav-item col-md-2" role="presentation">
                                        <button class="nav-link fixed-deposit" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Fixed Deposit</button>
                                    </li>
                                    <li class="nav-item col-md-2" role="presentation">
                                        <button class="nav-link divident" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">Divident</button>
                                    </li>
                                    <li class="nav-item col-md-2" role="presentation">
                                        <button class="nav-link rent" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1"> Rent</button>
                                    </li>

                                    <li class="nav-item col-md-2" role="presentation">
                                        <button class="nav-link other" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1"> Other Income</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div aria-labelledby="home-tab" role="tabpanel" id="home" class="tab-pane fade fade-in active show">
                                        <h3 class="mb-3" style="
    /* color: #fc635a; */
">
                                            Savings
                                        </h3>
                                        <div class="row mb-3">

                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="col-form-label">Type of Employment</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-select">
                                                            <option value="A">Primary</option>
                                                            <option value="B">Secondary</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="col-form-label">Employer/Company Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" name="TerminalEmployer">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mt-2">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Situation property Deed No</th>
                                                        <th>Situation property Deed No</th>
                                                        <th>Cost Gift/ Inhreted</th>
                                                        <th>Market value</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>test property</td>
                                                        <td>123596633552565</td>
                                                        <td>100000</td>

                                                        <td>
                                                            50000
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <h3 class="mb-3">Fixed Deposit</h3>
                                        <div class="row mb-3">

                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="col-form-label">Type of Employment</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-select">
                                                            <option value="A">Primary</option>
                                                            <option value="B">Secondary</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="col-form-label">Employer/Company Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" name="TerminalEmployer">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mt-2">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Situation property Deed No</th>
                                                        <th>Situation property Deed No</th>
                                                        <th>Cost Gift/ Inhreted</th>
                                                        <th>Market value</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>test property</td>
                                                        <td>123596633552565</td>
                                                        <td>100000</td>

                                                        <td>
                                                            50000
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <h3 class="mb-3">Divident</h3>
                                        <div class="row mb-3">

                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="col-form-label">Type of Employment</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-select">
                                                            <option value="A">Primary</option>
                                                            <option value="B">Secondary</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="col-form-label">Employer/Company Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" name="TerminalEmployer">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mt-2">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Situation property Deed No</th>
                                                        <th>Situation property Deed No</th>
                                                        <th>Cost Gift/ Inhreted</th>
                                                        <th>Market value</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>test property</td>
                                                        <td>123596633552565</td>
                                                        <td>100000</td>

                                                        <td>
                                                            50000
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tree-item tree-toggle first check-box collapsed" data-bs-toggle="collapse" data-bs-target="#images" aria-expanded="false">

                                <i class="fas fa-folder-open me-2"></i>
                                <span class="tree-header">B. Partner's investment income from partnership (Both local &amp; foreign)</span>
                                <i class="bi bi-check"></i>
                            </div>
                            <div class="tree-node collapse" id="images" style="">
                                <div class=" mt-4 ">
                                    <div class="card shadow-sm border-1 rounded-2 p-1 mb-1 ps-3 pe-3 pt-4 pb-4">


                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Total Investment Income (Individual)</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Activity Code (Partnership)</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="activityCodePartnership">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Partnership Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="partnershipName">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">TIN of Partnership</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>

                                        <br>
                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Gains and Profits (Rs.) – Partnership</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>
                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Total Investment Income from Partnership</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class=" align-items-right" style="text-align: right;">


                                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>

                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="tree-item tree-toggle first check-box collapsed" data-bs-toggle="collapse" data-bs-target="#doc-three" aria-expanded="false">

                                <i class="fas fa-folder-open me-2"></i>
                                <span class="tree-header">C. Beneficiary's investment income from trust (Both local &amp; foreign)</span>
                                <i class="bi bi-check"></i>

                            </div>
                            <div class="tree-node collapse" id="doc-three" style="">
                                <div class=" mt-4 ">
                                    <div class="card shadow-sm border-1 rounded-2 p-1 mb-1 ps-3 pe-3 pt-5 pb-4">

                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Activity Code (Trust)</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="activityCodePartnership">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Trust Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="partnershipName">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">TIN of Trust</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>


                                        <br>

                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Gains and Profits (Rs.) – Trust</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>

                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Total Investment Income from Trust</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>
                                        <div class="row mb-3">


                                            <div class="col-sm-6">

                                                <div class="row g-3 align-items-center pb-3">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Total Investment Income</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Totalid">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class=" align-items-right" style="text-align: right;">


                                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>

                                                </div>
                                            </div>

                                        </div>




                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Part II -->
                    <div class="tree-container">

                        <!-- Root -->
                        <div class="tree-item tree-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#root-one" aria-expanded="false">

                            <i class="fas fa-folder-open me-2"></i>
                            <span class="tree-header"> Part II - Reliefs for investment income</span>
                            <i class="bi bi-caret-down-fill"></i>
                        </div>
                        <div class="tree-node collapse" id="root-one" style="">

                            <div class=" mt-4 ">
                                <div class="card shadow-sm border-1 rounded-2 p-1 mb-1 ps-3 pe-3 pt-4 pb-4">


                                    <div class="row g-3 align-items-center pb-3">
                                        <div class="col-md-2">
                                            <label class="form-label">Relief for Rent Income (25%)</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="partnershipTIN">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">

                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" align-items-right" style="text-align: right;">


                                                <button type="submit" class="btn btn-primary mt-3">Submit</button>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Part III -->
                    <div class="tree-container">

                        <!-- Root -->
                        <div class="tree-item tree-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#root-two" aria-expanded="false">

                            <i class="fas fa-folder-open me-2"></i>
                            <span class="tree-header">Part III - Exempt amounts/gains and profits for Investment Income A Excluded amount</span>
                            <i class="bi bi-caret-down-fill"></i>
                        </div>
                        <div class="tree-node collapse" id="root-two" style="">

                            <div class="row g-3 align-items-center pb-3">
                                <div class="col-md-5">
                                    <label class="form-label">Exempt amounts/gains and profits for Investment Income A</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" class="" id="partnershipTIN">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center pb-3">
                                <div class="col-md-5">
                                    <label class="form-label">Excluded amount B </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" class="" id="partnershipTIN">
                                </div>
                            </div>
                            <br />
                            <div class="row g-3 align-items-center pb-3">
                                <div class="col-md-5">
                                    <label class="form-label">Exempt / Excluded Investment Income</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="partnershipTIN">
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class=" align-items-right" style="text-align: right;">


                                        <button type="submit" class="btn btn-primary mt-3">Submit</button>

                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="row mb-3">

                        <div class="row align-items-center">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <div class="row g-3 align-items-center pb-3 pt-2">
                                    <div class="col-md-3">
                                        <label class="col-sm-10 col-form-label font-weight-bold">Total</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary ">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <!-- Other income  ================================================================ -->
        <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
            <h5 class="toggle-header text-info collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOtherIncome  " aria-expanded="false">
                <span><i class="fas fa-folder-open me-2"></i>  Other Income</span>
                <i class="bi bi-caret-down-fill"></i>
            </h5>
            <div class="collapse mt-2" id="collapseOtherIncome">
                <div class="card card-body">
                    <div class="">
                        hi --------Other Income
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

<script src="~/scripts/income_taxcredits.js" asp-append-version="true"></script>

<script>
    document.querySelectorAll('.toggle-header').forEach(header => {
        const icon = header.querySelector('.toggle-icon');
        const collapseId = header.getAttribute('data-bs-target');
        const collapseEl = document.querySelector(collapseId);
        const collapse = new bootstrap.Collapse(collapseEl, { toggle: false });

        header.addEventListener('click', () => {
            const isOpen = collapseEl.classList.contains('show');
            if (isOpen) {
                collapse.hide();
               
            } else {
                collapse.show();
               
            }
        });
    });
</script>