@using System.Security.Claims
@using Microsoft.AspNetCore.Html
@model TaxFiling.Web.Models.SelfOnlineIncomeLiableTax

@{
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;
   var userId = User.Claims.FirstOrDefault(mbox => mbox.Type == "UserID")?.Value;


}
<link href="~/assets/css/tree-container-css.css?v=2" rel="stylesheet">

<main class="main-content">
    <section class="blog-posts section Self-Online">
        <div class=" mt-4">

            <!-- Employment income  -->
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5 class="toggle-header text-warning" data-bs-toggle="collapse" data-bs-target="#collapseEmploymentIncome" aria-expanded="true">
                    <span class="spn-employmentincome-name"><i class="fas fa-folder-open me-2"></i> Employment Income  </span> <span class="spn-employmentincome-total" id="spnEmploymentIncomeTotal">@Model.selfOnlineEmploymentIncome.Total</span>
                   @*  <label class="form-control">Total :  </label> *@  <i class="bi bi-caret-down-fill"></i>
                </h5>
                <div class="mt-2 collapse show" id="collapseEmploymentIncome" style="">
                    @Html.Partial("IncomeTaxPartial/_EmploymentIncome",Model.selfOnlineEmploymentIncome)
                </div>
            </div>

            <!-- Business income ===========================================  -->
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5 class="toggle-header text-danger collapsed" data-bs-toggle="collapse" data-bs-target="#collapseBusinessIncome " aria-expanded="false">
                    <span><i class="fas fa-folder-open me-2"></i> Business Income </span>
                    <i class="bi bi-caret-down-fill"></i>
                </h5>
                <div class="mt-2 collapse" id="collapseBusinessIncome" style="">
                    <div class="card card-body">
                        <div class="">
                            hi -------Business Income
                        </div>
                    </div>
                </div>
            </div>

            <!-- Investment income  =============================================  -->
            <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
                <h5 class="toggle-header text-danger" data-bs-toggle="collapse" data-bs-target="#collapseInvestmentIncome " aria-expanded="true">
                    <span><i class="fas fa-folder-open me-2"></i> Investment Income  </span>
                    <i class="bi bi-caret-down-fill"></i>
                </h5>
                <div class="mt-2 collapse" id="collapseInvestmentIncome" style="">

                    @Html.Partial("IncomeTaxPartial/_InvestmentIncome")
                </div>



            </div>
        </div>


        <!-- Other income  ================================================================ -->
        <div class="card shadow-sm border-1 rounded-3 p-3 mb-3">
            <h5 class="toggle-header text-info collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOtherIncome  " aria-expanded="false">
                <span><i class="fas fa-folder-open me-2"></i>  Other Income</span>
                <i class="bi bi-caret-down-fill"></i>
            </h5>
            <div class="collapse mt-2" id="collapseOtherIncome">
                <div class="card card-body">
                    <div class="">
                        hi --------Other Income
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>

<script src="~/scripts/income_taxcredits.js" asp-append-version="true"></script>

<script>
    document.querySelectorAll('.toggle-header').forEach(header => {
        const icon = header.querySelector('.toggle-icon');
        const collapseId = header.getAttribute('data-bs-target');
        const collapseEl = document.querySelector(collapseId);
        const collapse = new bootstrap.Collapse(collapseEl, { toggle: false });

        header.addEventListener('click', () => {
            const isOpen = collapseEl.classList.contains('show');
            if (isOpen) {
                collapse.hide();
               
            } else {
                collapse.show();
               
            }
        });
    });
</script>