@model List<TaxFiling.Web.Models.SelfOnlineInvestmentPartnerBeneficiaryExemptViewModel>

<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">


            <form method="post">

                <div class=" mt-4 ">
                    <input type="hidden" id="hiddenInvestmentExemptIncomeId" name="hiddenInvestmentExemptIncomeId" />
                    <div class="p-4 border rounded bg-light shadow-sm mb-4">
                        <h6 class="mb-4 text-primary"> <i class="bi bi-graph-up me-2"></i> Exempt Amounts/Gains and Profits for Investment Income A Excluded amount</h6>
                        <hr>
                        <div class="row g-3">

                            <div class="col-md-6">
                                <label class="col-sm-11 col-form-label font-weight-bold">Exempt amounts/gains and profits for Investment Income A</label>
                                <input type="radio" name="rdbTProfitsInvestment" id="rdbTProfitsInvestment " />
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-5 col-form-label font-weight-bold">Excluded Amount B</label>
                                <input type="radio" name="rdbTExcludedAmount" id="rdbTExcludedAmount" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Exempt / Excluded Investment Income</label>
                                <input type="text" class="form-control" maxlength="9" id="txtTExempt" name="txtTExempt">
                            </div>
                         
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class=" align-items-right" style="text-align: right;">
                                    <button type="button" class="btn btn-primary mt-3" id="btnExemptAmountsClear">Clear</button>
                                    <button type="button" class="btn btn-primary mt-3" id="btnExemptAmountsSubmit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <br><br>
            <div class="d-lg-flex justify-content-between">
                <div class="col-lg-6 col-md-6 btn-prv">
                    <button class="btn btn-primary btn-lg" id="linkEmploymentDetailsContinue">
                        Back
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 right next-btn" id="linkExemptAmountsContinue">
                    <button class="btn btn-primary btn-lg">
                        Continue
                    </button>
                </div>
            </div>
        </div>

    </div>

</main>

<script src="~/scripts/selfOnline.investmentpartnerbeneficiaryexempt.js" asp-append-version="true"></script>

