@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using System.Security.Claims
@using Microsoft.AspNetCore.Html

<link href="~/assets/css/tree-container-css.css?v=3" rel="stylesheet">

<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">


            <form method="post">

                <div class=" mt-4 ">


                    <div class="custom-tabs">
                        <ul class="nav nav-tabs col-md-12" id="myTab" role="tablist">
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link savings active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Savings</button>
                            </li>
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link fixed-deposit" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Fixed Deposit</button>
                            </li>
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link divident" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">Divident</button>
                            </li>
                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link rent" id="rent-tab" data-bs-toggle="tab" data-bs-target="#rent" type="button" role="tab" aria-controls="rent" aria-selected="false" tabindex="-1"> Rent</button>
                            </li>

                            <li class="nav-item col-md-2" role="presentation">
                                <button class="nav-link other" id="otherincome-tab" data-bs-toggle="tab" data-bs-target="#otherincome" type="button" role="tab" aria-controls="otherincome" aria-selected="false" tabindex="-1"> Other Income</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="home-tab" role="tabpanel" id="home" class="tab-pane fade fade-in active show">
                               <br />
                                <h3 class="mb-3" >
                                    <i class="bi bi-piggy-bank"></i> &nbsp; Savings
                                </h3>
                                <hr>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Type of Investment Income</label>
                                        <select class="form-select" id="dpdInvestmentIncome" name="dpdInvestmentIncome">
                                            <option value="">-- Select --</option>
                                            <option value="Interest">Interest</option>
                                            <option value="Dividends">Dividends</option>
                                            <option value="Rent">Rent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Remuneration (Rs.)</label>
                                        <input type="text" class="form-control" id="txtRemuneration" name="txtRemuneration">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Gains and Profits (Rs.) – Individual</label>
                                        <input type="text" class="form-control" id="txtGainsProfits" name="txtGainsProfits">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Total investment income other than partnership or trust</label>
                                        <input type="text" class="form-control" id="txtInvestmentIncome" name="txtInvestmentIncome">
                                    </div>
                                    
                                </div>
                                <br /> <br />
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Name of bank/financial institution</label>
                                        <select class="form-select" id="dpdBankInstitution" name="dpdBankInstitution">
                                            <option value="">-- Select Bank --</option>
                                            
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Account No.</label>
                                        <input type="text" class="form-control" id="txtAccountNo" name="txtAccountNo">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Amount Invested (Rs.)</label>
                                        <input type="text" class="form-control" id="txtAmountInvested" name="txtAmountInvested">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Interest (Rs.)</label>
                                        <input type="text" class="form-control" id="txtInterest" name="txtInterest">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Opening Balance</label>
                                        <input type="text" class="form-control" id="txtOpeningBalance" name="txtOpeningBalance">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Balance (Rs.)</label>
                                        <input type="text" class="form-control" id="txtBalance" name="txtBalance">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="button" class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">

                                <div class="table-responsive" id="SavingsGrid">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Name of bank</th>
                                                <th>Account No</th>
                                                <th>Opening Balance</th>
                                                <th>Balance (Rs.)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Bank 1</td>
                                                <td>123596633552565</td>
                                                <td>100000</td>

                                                <td>
                                                    50000
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                          @*  ----- Fixed Deposit ------ *@

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <br />
                                <h3 class="mb-3"> <i class="bi bi-bank"></i> &nbsp; Fixed Deposit</h3>
                                <hr>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Type of Investment Income</label>
                                        <select class="form-select" id="dpdFDInvestmentIncome" name="dpdFDInvestmentIncome">
                                            <option value="">-- Select --</option>
                                            <option value="Interest">Interest</option>
                                            <option value="Dividends">Dividends</option>
                                            <option value="Rent">Rent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Remuneration (Rs.)</label>
                                        <input type="text" class="form-control" id="txtFDRemuneration" name="txtFDRemuneration">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Gains and Profits (Rs.) – Individual</label>
                                        <input type="text" class="form-control" id="txtFDGainsProfits" name="txtFDGainsProfits">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Total investment income other than partnership or trust</label>
                                        <input type="text" class="form-control" id="txtFDInvestmentIncome" name="txtFDInvestmentIncome">
                                    </div>

                                </div>
                                <br /> <br />
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Name of bank/financial institution</label>
                                        <select class="form-select" id="dpdFDBankInstitution" name="dpdFDBankInstitution">
                                            <option value="">-- Select Bank --</option>
                                            <option value="Bank1">Bank 1</option>
                                            <option value="Bank2">Bank 2</option>
                                            <option value="Bank3">Bank 3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Account No.</label>
                                        <input type="text" class="form-control" id="txtFDAccountNo" name="txtFDAccountNo">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Amount Invested (Rs.)</label>
                                        <input type="text" class="form-control" id="txtFDAmountInvested" name="txtFDAmountInvested">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Interest (Rs.)</label>
                                        <input type="text" class="form-control" id="txtFDInterest" name="txtFDInterest">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Opening Balance</label>
                                        <input type="text" class="form-control" id="txtFDOpeningBalance" name="txtFDOpeningBalance">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Balance (Rs.)</label>
                                        <input type="text" class="form-control" id="txtFDBalance" name="txtFDBalance">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="button" class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">

                                <div class="table-responsive" id="FDGrid">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Name of bank</th>
                                                <th>Account No</th>
                                                <th>Opening Balance</th>
                                                <th>Balance (Rs.)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Bank 1</td>
                                                <td>123596633552565</td>
                                                <td>100000</td>

                                                <td>
                                                    50000
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            @*  ----- Divident ------ *@
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <br />
                                <h3 class="mb-3"> <i class="bi bi-pie-chart-fill"></i> &nbsp; Divident</h3>
                                <hr>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Activity Code (Investment Income – Individual)</label>
                                        <input type="text" class="form-control" id="txtDActivityCode" name="txtDActivityCode">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Type of Employment</label>
                                        <select class="form-select" id="dpdDTypeEmployment" name="dpdDTypeEmployment">
                                            <option value="">-- Select --</option>
                                            <option value="Interest">Interest</option>
                                            <option value="Dividends">Dividends</option>
                                            <option value="Rent">Rent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Remuneration (Rs.)</label>
                                        <input type="text" class="form-control" id="txtDRemuneration" name="txtDRemuneration">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Gains and Profits (Rs.) – Individual</label>
                                        <input type="text" class="form-control" id="txtDGainsProfits" name="txtDGainsProfits">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Total investment income other than partnership or trust</label>
                                        <input type="text" class="form-control" id="txtDInvestmentIncome" name="txtDInvestmentIncome">
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Name of company/institution</label>
                                        <select class="form-select" id="dpdDCompanyInstitution" name="dpdDCompanyInstitution">
                                            <option value="">-- Select Company/Institution --</option>
                                            <option value="Bank1">Company 1</option>
                                            <option value="Bank2">Company 2</option>
                                            <option value="Bank3">Institution 3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">No. of Shares/Stocks</label>
                                        <input type="number" class="form-control" id="txtDSharesStocks" name="txtDSharesStocks">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Date of Acquisition</label>
                                        <input type="date" class="form-control" id="txtDAcquisition" name="txtDAcquisition">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Cost of Acquisition/Market value if not acquired (Rs.)</label>
                                        <input type="text" class="form-control" id="txtDCostAcquisitionMarket" name="txtDCostAcquisitionMarket">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Total investment income other than partnership or trust</label>
                                        <input type="text" class="form-control" id="txtDInvestmentIncome" name="txtDInvestmentIncome">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Net Dividend Income (Rs.)</label>
                                        <input type="number" class="form-control" id="txtDNetDividend" name="txtDNetDividend">
                                    </div>
                                   
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>

                                </div>
                                <hr class="my-4">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Name of company/institution</th>
                                                <th>No of shares/stocks</th>
                                                <th>Cost of acquisition</th>
                                                <th>Net dividend income</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Company 1</td>
                                                <td>123596633552565</td>
                                                <td>100000</td>

                                                <td>
                                                    50000
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            @*  ----- Rent ------ *@
                            <div class="tab-pane fade" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                                <br />
                                <h3 class="mb-3"> <i class="bi bi-house-door"></i> &nbsp;  Rent</h3>
                                <hr>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Activity Code (Investment Income – Individual)</label>
                                        <input type="text" class="form-control" id="txtRActivityCode" name="txtRActivityCode">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Type of Employment</label>
                                        <select class="form-select" id="dpdRTypeEmployment" name="dpdRTypeEmployment">
                                            <option value="">-- Select --</option>
                                            <option value="Interest">Interest</option>
                                            <option value="Dividends">Dividends</option>
                                            <option value="Rent">Rent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Remuneration (Rs.)</label>
                                        <input type="text" class="form-control" id="txtRRemuneration" name="txtRRemuneration">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Gains and Profits (Rs.) – Individual</label>
                                        <input type="text" class="form-control" id="txtRGainsProfits" name="txtRGainsProfits">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Total investment income other than partnership or trust</label>
                                        <input type="text" class="form-control" id="txtRInvestmentIncome" name="txtRInvestmentIncome">
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row g-3">
                                    
                                    <div class="col-md-6">
                                        <label class="form-label">Situation of Property Deed No</label>
                                        <input type="text" class="form-control" id="txtRPropertyDeed" name="txtRPropertyDeed">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Date of Acquisition</label>
                                        <input type="date" class="form-control" id="txtRAcquisition" name="txtRAcquisition">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Cost (Rs.) / Gift/ Inhreted</label>
                                        <input type="text" class="form-control" id="txtRCostGiftInhreted" name="txtRCostGiftInhreted">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Market Value (Rs.)</label>
                                        <input type="text" class="form-control" id="txtRMarketValue" name="txtRMarketValue">
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" align-items-right" style="text-align: right;">
                                            <button type="button" class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped mt-2">
                                        <thead class="table-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Situation property Deed No</th>
                                                <th>Situation property Deed No</th>
                                                <th>Cost Gift/ Inhreted</th>
                                                <th>Market value</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>test property</td>
                                                <td>123596633552565</td>
                                                <td>100000</td>

                                                <td>
                                                    50000
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <hr class="my-4">
                                <h5 class="mb-3"> <i class="fas fa-wallet me-2"></i> Reliefs for investment income</h5>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Relief for Rent Income (25%)</label>
                                        <input type="text" class="form-control" id="txtReliefRentIncome" name="txtReliefRentIncome">
                                    </div>
                                 </div>
                                 <br />
                            </div>

                            <div class="tab-pane fade" id="otherincome" role="tabpanel" aria-labelledby="otherincome-tab">
                                <h3 class="mb-3"> <i class="bi bi-cash-coin"></i> &nbsp; Other Income</h3>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </form>
            <br><br>
            <div class="d-lg-flex justify-content-between">
                <div class="col-lg-6 col-md-6 btn-prv">
                    <button class="btn btn-primary btn-lg" id="linkEmploymentDetailsContinue">
                        Back
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 right next-btn" id="linkExemptAmountsContinue">
                    <button class="btn btn-primary btn-lg">
                        Continue
                    </button>
                </div>
            </div>
        </div>
        
    </div>

</main>

<script>

     // Load all branches once
    $.getJSON("https://mail.taxfiling.lk/bank-branches", function (data) {
        allBranches = data.map(branch => ({
            id: branch.BranchCode,
            // text: branch.BranchName + " (" + branch.bankName + ")" // show both branch and bank
            text: branch.BranchName
        }));

        $('#dpdBankInstitution').select2({
            placeholder: "Select bank",
            minimumInputLength: 0, // allow opening full list without typing
            data: allBranches,
            matcher: function (params, data) {
                // If no search term, show all
                if ($.trim(params.term) === '') {
                    return data;
                }

                // Match text anywhere (contains match, not just startsWith)
                if (data.text.toLowerCase().startsWith(params.term.toLowerCase())) {
                    return data;
                }

                return null;
            },
            dropdownAutoWidth: true,
            width: 'resolve',
            allowClear: true
        });
    });

    $('#dpdBankInstitution').on('select2:open', function () {
        let searchBox = document.querySelector('.select2-container--open .select2-search__field');
        if (searchBox) {
            searchBox.setAttribute('placeholder', 'Filter your choice');
        }
    });
</script>