<footer id="footer" class="footer dark-background __web-inspector-hide-shortcut__">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <h3 style="
    font-style: italic;
    font-size: 17px;
">
                    Powered By
                </h3>
                <a class="logo d-flex align-items-center" href="/">
                    <img src="/assets/img/footer-logo-new.png">
                </a>


            </div>

            <div class="col-lg-4 col-md-6 footer-links one">
                <div class="container copyright text-center ">
                    
<p class="mail-need">Need help? Contact <a href="mailto:webmaster@example.com">support@taxfiling.lk</a></p>

                    
                </div>
            </div>



            <div class="col-lg-4 col-md-12 footer-newsletter">
                <div class="social-links d-flex mt-4">
                    <a href="" style="
    /* visibility: hidden; */
    opacity: 0.2;
"><i class="bi bi-twitter-x"></i></a>
                    <a href="" style="
    /* visibility: hidden; */
    opacity: 0.2;
"><i class="bi bi-facebook" style="
    /* opacity: 0.1; */
"></i></a>
                    <a href="" style="
    /* visibility: hidden; */
    opacity: 0.2;
"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/universalsecretaries-private-limited/?originalSubdomain=lk" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>

                
            </div>





            <div class="col-lg-12 col-md-12 footer-links">
                <div class="col-lg-6 col-md-6  container copyright text-center ">
                    

<p>© <span>Copyright</span> <strong class="px-1 sitename">Company</strong> <span>All Rights Reserved</span></p>
                    <div class="credits">
                        <!-- You can delete the links only if you've purchased the pro version. -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                        Designed by <a target="_blank" href="https://mediadefined.lk/">MediaDefined</a>
                    </div>
                </div>

                <ul class="police col-lg-6 col-md-6 ">
<li>
    <a href="/Home/RefundPolicy" target="_blank">Refund Policy</a>
</li>
    <li>
    <a href="/Home/Privacy" target="_blank">Privacy Policy</a>
</li>
</ul>
            </div>

        </div>
    </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2KZS0JZRDE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2KZS0JZRDE');
</script>

</footer>
