@using System.Security.Claims
@inject IConfiguration Configuration

@{
    var userId = "";
    var isActivePayment = "0";

    var profileImageUrl = User.FindFirst("ProfileImagePath")?.Value
                      ?? "https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg";
    if (profileImageUrl == "")
    {
        profileImageUrl = "https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg";
    }
    var roleId = "3";

    // var profileImageUrl = "/UserImages/a2b6c0ba-878d-49ee-91d2-a6250ff9632c/17146853.png";
    string baseApiUrl = Configuration.GetValue<string>("BaseAPIUrl") ?? "";


    try
    {
        var userName = User.FindFirst(ClaimTypes.Name)?.Value;
        userId = User.Claims.FirstOrDefault(mbox => mbox.Type == "UserID")?.Value;
        isActivePayment = User.Claims.FirstOrDefault(mbox => mbox.Type == "IsActivePayment")?.Value;
        roleId = User.Claims.FirstOrDefault(mbox => mbox.Type == "RoleId")?.Value;
        
    }
    catch (Exception ex)
    {
        var aa = ex.Message;
    }

    var showDashboard = string.IsNullOrEmpty(userId) || isActivePayment != "1";
}

<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center me-auto justify-content-between">

        <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto">
            <img src="~/assets/img/Tax-new-8-edit-one.png" alt="">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                @if (roleId == "1")
                {
                    <li><a asp-controller="UserUploadTaxAssistedDoc" asp-action="AdminDashboard">Dashboard</a></li>
                }
                else
                {
                    <li style="display:@(showDashboard ? "none" : "block");"><a asp-controller="SelfOnlineFlow" asp-action="SelfOnlineDashboard">Dashboard</a></li>
                }

                <li class="dropdown">
                   
                     <button type="button" class="dropdown-toggle">
    <span>Resources</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
  </button>
                    <ul>
                        <li><a asp-controller="Home" asp-action="TaxCalculator">Tax Calculator</a></li>
                        @*      <li><a >Support</a></li>
                        <li><a asp-controller="Home" asp-action="Blog">Blog</a></li> 
                        <li><a asp-controller="Home" asp-action="SelfOnlineDashboard">Important Tax Dates</a></li>*@

                    </ul>
                </li>
                <li class="dropdown">
                    <button type="button" class="dropdown-toggle">
    <span>Resources</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
  </button>
                    <ul>
                        <li><a asp-controller="Home" asp-action="TaxAssisted">Tax Assisted Filing</a></li>
                        <li><a asp-controller="Home" asp-action="SelfFiling">Self Filing</a></li>
                    </ul>
                </li>

                <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                <li><a href="pricing.html" class="d-none">Pricing</a></li>
                <li><a href="blog.html" class="d-none">Blog</a></li>
                <li><a asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>


        <div class="header-social-links d-flex justify-content-between">
            <button type="button" class="btn btn-primary sign-in mr-10" style="display:@(string.IsNullOrEmpty(userId) ? "block" : "none");">
                <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="">Sign in</a>
            </button>
            <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="English" data-offlabel="සිංහල" data-onstyle="primary" data-offstyle="primary">
            <div class="dropdown ml-10" id="drplogout" style="display:@(string.IsNullOrEmpty(userId) ? "none" : "block");">
                <button class="btn btn-secondary dropdown-toggle profile-button" type="button" id="btnprofileimage" data-bs-toggle="dropdown" aria-expanded="false" style="background-image: url(@profileImageUrl);">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="User" asp-action="UserProfile" asp-route-userId=@userId>Profile</a></li>
                    <li>
                        @* <a class="dropdown-item"  asp-controller="Account" asp-action="Logout">Log Out</a> *@
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-item">
                                Logout
                            </button>
                        </form>

                    </li>
                </ul>
            </div>


        </div>

    </div>
</header>
