@model TaxFiling.Web.Models.SelfFilingSummaryCalculationViewModel

<main class="main-content">

    <div class=" mt-4">
        <div class="card card-body">
            @{
                await Html.RenderPartialAsync("SelfOnlineSummaryPDF", Model);
            }

            <div style="text-align:center; margin-top:20px;">
                <form asp-controller="SelfOnlineFlow" asp-action="DownloadTaxPdf" method="post">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-file-earmark-pdf"></i> Download PDF
                    </button>
                </form>
            </div>

        </div>

    </div>

</main>