@using System.Security.Claims
@using Microsoft.AspNetCore.Html

@{
    var userName = User.FindFirst(ClaimTypes.Name)?.Value;
    var userId = User.Claims.FirstOrDefault(mbox => mbox.Type == "UserID")?.Value;
    bool isAuthenticated = !string.IsNullOrEmpty(userId);

}

<main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <div class="col-lg-4 col-md-6">
                <h2 class="mb-2 mb-lg-0 font-weight-bold">Self Online Flow</h2></br>
                <h1 class="mb-2 mb-lg-0">Welcome <span>@userName</span></h1>
            </div>
            <div class="col-lg-2 col-md-4">
                <nav class="breadcrumbs">
                    <ol>
                        @* <li><a href="index.html">Home</a></li>
                        <li class="current">Self Online Flow</li> *@
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->
    <!-- File my taxes Section -->
    <section id="Self-Online-Flow" class="">
        <div class="sidebar-main">
            <nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed">
                <button class="toggle-btn" onclick="toggleSidebar()">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <div class="p-4">
                    @* <h4 class="logo-text fw-bold mb-0">@ViewBag.packageName</h4> *@
                    <h4 class="logo-text fw-bold mb-0">LKR  <span id="taxTotal"> @ViewBag.TaxTotal</span> </h4>
                   @*  <p class="small fw-bold mb-0">TAX REFUND</p> *@
                </div>

                <div class="nav flex-column">
                  
                    <button id="btndashboardSection" class="dropdown-btn sidebar-link text-decoration-none p-3 active">
                        <i class="fas fa-home me-3"></i> 
                        Dashboard
                    </button>
                    <button id="btnLoadSection" class="dropdown-btn sidebar-link text-decoration-none p-3">
                        <i class="bi bi-person-fill-down"></i> &nbsp;&nbsp;
                        Get Started
                    </button>
                    <div class="dropdown-container" style="display: none;">

                        <a class="sub-link"  id="linkInThisSection">In This Section</a>
                        <a class="sub-link" id="linkTaxPayer">TaxPayer(s)</a>
                        <a class="sub-link"  id="linkMaritalStatus">Marital Status</a>
                        <a class="sub-link" id="linkLastYear">Last Year</a>
                        <a class="sub-link"  id="linkIdentification">Identification</a>
                        <a class="sub-link"  id="linkContactInformation">Contact Information</a>
                        <a class="sub-link"  id="linkSummary">Summary</a>
                        
                    </div>

                    <button id="btnIncomeTaxCredits" class="dropdown-btn sidebar-link text-decoration-none p-3">
                        <i class="bi bi-cash-coin"></i> &nbsp;&nbsp;
                        Income and Tax Credits
                    </button>
                    <div class="dropdown-container" style="display: none;">

                        <a class="sub-link" id="linkIncomeLiableTax">Income liable to tax </a>
                        <a class="sub-link" id="linkTaxPayer">Deductions from assessable income </a>
                        <a class="sub-link" id="linkMaritalStatus">Calculation of tax payable </a>
                        <a class="sub-link" id="linkLastYear">Exempt income </a>
                        

                    </div>
                   @*  <a  class="sidebar-link active text-decoration-none p-3">
                        <i class="bi bi-person-bounding-box"></i> &nbsp;&nbsp;
                        <span class="hide-on-collapse">Doument's Return</span>
                    </a> *@

                </div>


                <div class="profile-section mt-auto p-4">
                    <div class="d-flex align-items-center">
                        <img src="https://randomuser.me/api/portraits/women/70.jpg" style="height:60px" class="rounded-circle" alt="Profile">
                        <div class="ms-3 profile-info">
                            <h6 class="text-white mb-0">Alex Morgan</h6>
                            <small class="text-muted">Admin</small>
                        </div>
                    </div>
                </div>
            </nav>

            <div id="in-this-section-container"></div>

        </div>

    </section>
    <!-- /File my taxes -->

</main>
<script src="~/scripts/selfonline.flow.js" asp-append-version="true"></script>

<script>
    $(function () {

         $.ajax({
            url: '/SelfOnlineFlow/LoadInThisSection',
            type: 'GET',
            success: function (data) {
                $('#in-this-section-container').html(data);
            },
            error: function () {
                alert("Error loading section content.");
            }
        });
    });
</script>
