<main class="main">

    <section id="Invalid-token" class="Sign-in-section">

        <div class="container col-sm-3 shadow p-5 mb-5 bg-white rounded Sign-in-col">
            <div class="row">

                <div class="text-black">

                    <div class="d-flex align-items-center h-custom-2 pt-xl-0 mt-xl-n5">

                        <div style="width: 23rem; text-align: center;">

                            <h3 class="mb-6 pb-3 fw-bold" style="letter-spacing: 1px;">
                                Invalid or Expired Link
                            </h3>

                            <p class="mb-4">
                                The reset link you used is invalid or has expired.
                            </p>

                            <div class="pt-1 mb-4">
                                <a asp-controller="Account" asp-action="ForgotPassword" class="form-control btn btn-primary">
                                    Request New Link
                                </a>
                            </div>

                            <p class="pb-sm-0">
                                <a asp-controller="Account" asp-action="Login" class="link-info">Back to Login</a>
                            </p>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <div class="hero-video">
        <video id="heroVideo" src="https://v6.netexam.com/Courses6/10229/SharableResources/13949/6_19_2025_3_06_36_AM/pexels-tima-miroshnichenko-6699594.mp4"
               autoplay muted loop playsinline poster="src/img/hero/bg.jpg"></video>
    </div><!-- /Invalid Token Section -->

</main>