

            <main class="main-content">
          
    <div class="row col-lg-12 mage-box-row ">
        <div class="col-lg-4 col-md-6 center" data-aos="fade-up" data-aos-delay="200">
            <h6>Preparing this return for?</h6>
            <div class="image-box  justify-content-between  parent">
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="">
                    <label for="1">
                        <img src="/assets/img/taxpayer/MySelf.png" alt="Image 1">
                        <div class="nametag">
                            MySelf
                        </div>
                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="">
                    <label for="2">
                        <img src="/assets/img/taxpayer/MySelfMySpouse.png" alt="Image 2">
                        <div class="nametag">
                            MySelf and my spouse
                        </div>
                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img3" class="d-none imgbgchk" value="">
                    <label for="3">
                        <img src="/assets/img/taxpayer/SomeoneElse.png" alt="Image 3">
                        <div class="nametag">
                            Someone else
                        </div>
                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 center" data-aos="fade-up" data-aos-delay="200">
            <h6>Preparing this return for?</h6>
            <div class="image-box  justify-content-between  parent">
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="">
                    <label for="1">
                        <img src="/assets/img/maritalStatus/Single.png" alt="Image 1">
                        <div class="nametag">
                            Single
                        </div>

                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="">
                    <label for="2">
                        <img src="/assets/img/maritalStatus/Married.png" alt="Image 2">
                        <div class="nametag">
                            Married
                        </div>

                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img3" class="d-none imgbgchk" value="">
                    <label for="3">
                        <img src="/assets/img/maritalStatus/Divorced.png" alt="Image 3">
                        <div class="nametag">
                            Divorced
                        </div>

                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 center" data-aos="fade-up" data-aos-delay="200">
            <h6>Preparing this return for?</h6>
            <div class="image-box  justify-content-between  parent">
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img1" class="d-none imgbgchk" value="">
                    <label for="1">
                        <img src="/assets/img/taxReturnLastyear/neverfiled.png" alt="Image 1">
                        <div class="nametag">
                            I have never filed
                        </div>

                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img2" class="d-none imgbgchk" value="">
                    <label for="2">
                        <img src="/assets/img/taxReturnLastyear/otherAccountant.png" alt="Image 2">
                        <div class="nametag">
                            Other accountant or tax professional
                        </div>

                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>
                <div class="col  p-3  text-center">
                    <input type="radio" name="imgbackground" id="img3" class="d-none imgbgchk" value="">
                    <label for="3">
                        <img src="/assets/img/taxReturnLastyear/filedmyself.png" alt="Image 3">
                        <div class="nametag">
                            Filed by my self
                        </div>

                        <div class="tick_container">
                            <div class="tick"><i class="fa fa-check"></i></div>
                        </div>
                    </label>
                </div>

            </div>
        </div>

    </div>

    <br />
    <br />
    <br />
  <div class="row col-lg-12 mage-box-row-two-col  information-box">
        <div class="col-lg-6 col-md-6 aos-init aos-animate">
			  <div class="container-fluid">

        <div class="icon-text-mrg">
            <i class="bi bi-person-vcard" style="font-size: 2rem;"></i>
            <h4 class="font-weight-bold">Your Identification</h4><br>
        </div>

        <form method="post" action="/SelfOnlineFlow/SubmitIdentification">
            <div class="row mb-4">
                <div class="col-md-4">
                    <label for="FirstName">First name</label>
                    <input class="form-control" id="FirstName" name="FirstName" type="text" value="Mayuri">

                </div>
                <div class="col-md-4">
                    <label for="MiddleName">Middle name</label>
                    <input class="form-control" id="MiddleName" name="MiddleName" type="text" value="test">
                </div>
                <div class="col-md-4">
                    <label for="LastName">Last name *</label>
                    <input class="form-control" id="LastName" name="LastName" type="text" value="Suneth">
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <label for="DateOfBirth">Date of birth *</label>
                    <input class="form-control" id="DateOfBirth" name="DateOfBirth" type="date" value="07/20/2025 00:00:00">
                </div>
                <div class="col-md-4">
                    <label for="TaxIdentificationNumber">Tax Identification Number</label>
                    <input class="form-control" id="TaxNumber" name="TaxNumber" type="text" value="12322">
                </div>
            </div>

        </form>


        <br><br>


    </div>
		</div>
		        <div class="col-lg-6 col-md-6 aos-init aos-animate">
					<div class="container-fluid">

        <div class="icon-text-mrg">
            <i class="bi bi-mailbox" style="font-size: 2rem;"></i>
            <h4 class="font-weight-bold" style="
    /* display: inline-block; */
">Your Contact Information</h4>
        </div>

        
        <br>

        <form method="post" action="/SelfOnlineFlow/SubmitIdentification">
            

            <div class="row mb-4">
    <div class="col-md-4">
                    <label for="FirstName">Care of</label>
                    <input class="form-control" id="CareOf" name="CareOf" type="text" value="test Care of">

                </div>
                <div class="col-md-4">
                    <label for="DateOfBirth">Apt.</label>
                    <input class="form-control" id="Apt" name="Apt" type="text" value="test Apt.">

                </div>
                <div class="col-md-4">
                    <label for="TaxIdentificationNumber">Street number *</label>
                    <input class="form-control" id="StreetNumber" name="StreetNumber" type="text" value="test Street number">

                </div>
    </div>
<div class="row mb-4">
                <div class="col-md-4">
                    <label for="TaxIdentificationNumber">Street *</label>
                    <input class="form-control" id="Street" name="Street" type="text" value="test Street ">

                </div>
                
                <div class="col-md-4">
                    <label for="FirstName">City *</label>
                    <input class="form-control" id="City" name="City" type="text" value="test City ">

                </div>
     </div>

         
            
            

        </form>


        <br><br>


    </div>
		</div>
	</div>


    

    <div class="pt-1 mb-2 col-sm-2">
        <button data-mdb-button-init="" data-mdb-ripple-init="" class=" form-control btn btn-primary" type="button"><a id="btnUpdateUser" class="d-block">Submit</a></button>
    </div>
    </main>

    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('collapsed');
        }
    </script>
</div>

    </section>
   <!-- /File my taxes -->



            </main>

     