@model TaxFiling.Web.Models.SelfOnlineFlowPersonalInformation

<main class="main-content">
    <div class="container-fluid">

        <div class="text-center">
            <h2>Summary</h2><br>
        </div>

        <div id="in-this-section-container" style="">
            <main class="main-content">
                <div class="container-fluid">

                    <div class=" card shadow-sm border-1 rounded-3 p-3 mb-3 mt-4 filling">
                        <div class="text-">
                            <h2 style="
    text-align: left;
">
                                Personal Information — Review
                            </h2>
                            <h7 style="
    text-align: left;
    width: 100% !important;
    display: block;
">Carefully check your details. If anything is wrong, go back and edit before continuing.</h7><br>

                            <div class="alert alert-warning" role="alert">
                                Important: We will use the information exactly as shown below for your filing with the Inland Revenue Department.
                            </div>
                        </div>
                    </div>

                    <h4 style="
">
                        Filing Context
                    </h4>

                    <div class=" card shadow-sm border-1 rounded-3 p-3 mb-3 mt-4 filling">
                        <div class="row"><div class="col-md-4">Year of Assessment</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Preparing For</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Other Person Name</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Relationship</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Other Person TIN</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Marital Status (as at 31 Mar)</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Last Year Filing Method</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Year of Assessment</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>






                    </div>



                    <div class=" mt-4">
                    </div>
                    <br><h4>Your Identification</h4>


                    <div class=" card shadow-sm border-1 rounded-3 p-3 mb-3 mt-4 filling">
                        <div class="row"><div class="col-md-4">Title</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">First Name</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Middle Name</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Last Name</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Gender</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Date of Birth</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">NIC / Passport</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">TIN</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>






                    </div><br>
                    <h4>Your Contact Information</h4>
                    <div class=" card shadow-sm border-1 rounded-3 p-3 mb-3 mt-4 filling">
                        <div class="row"><div class="col-md-4">Care of</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Apartment / Unit</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Street Number</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Street</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">City</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">District / Province</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Postal Code</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Country</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Email (Primary)</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Secondary Email</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Mobile Phone</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Home Phone</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>

                        <div class="row"><div class="col-md-4">Work Phone</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div><div class="row"><div class="col-md-6">Preferred Communication</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>






                    </div>
                    <br>
                    <h4>Your Contact Information</h4>
                    <div class=" card shadow-sm border-1 rounded-3 p-3 mb-3 mt-4 filling">
                        <div class="row"><div class="col-md-4">Care of</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Apartment / Unit</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Street Number</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Street</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">City</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">District / Province</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Postal Code</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Country</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Email (Primary)</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Secondary Email</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Mobile Phone</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>
                        <div class="row"><div class="col-md-4">Home Phone</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>

                        <div class="row"><div class="col-md-4">Work Phone</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div><div class="row"><div class="col-md-6">Preferred Communication</div><div class="col-md-6 tex-box-css" id="ctx_yoa">2024/2025</div></div>






                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <div class="col-lg-6 col-md-6 btn-prv">
                            <button class="btn btn-primary btn-lg" id="linkTaxPayerNext">
                                Back
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 right next-btn" style="display: block;" id="divSummaryAssistedNext">
                            <button class="btn btn-primary btn-lg" id="linkTaxPayerContinue">
                                Continue
                            </button>
                        </div>
                    </div>

                </div>
            </main>
            <script src="/scripts/summary_section.js?v=3bq07IAsX7LvDXmHujUla0qgS5spEYY6QRyMid6slr4"></script>

        </div>

    </div>
</main>
<script src="~/scripts/summary_section.js" asp-append-version="true"></script>

